@font-face {
    src: url(/fonts/MyriadProRegular/MyriadProRegular.ttf);
    font-family: MyriadProRegular;
}

body {
    padding: 0;
    margin: 0;
    font-family: MyriadProRegular;
}

/*header*/
.header-content {
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: top;
    padding-bottom: 50px;
}

#logo {
    margin: -18px 0 0 180px;
}

.slogan h1 {
    font-size: 32px;
    color: #44a09b;
    margin: 226px 0 50px 195px;
}

.slogan p {
    font-size: 62px;
    margin-left: 195px;
}

.slogan p span {
    font-weight: bold;
}

.button {
    background-color: white;
    height: 210px;
    max-width: 830px;
    border-radius: 0 105px 105px 0;
    margin: 81px 0 73px 0;
}

.button p {
    color: #ff8141;
    font-size: 28px;
    margin: 0 0 20px 195px;
    padding-top: 40px;
}

button {
    height: 66px;
    width: 494px;
    border-radius: 33px;
    background-color: #F27935;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    cursor: pointer;
    margin-left: 195px;
}

button:hover {
    box-shadow: 0 0 13px 5px #b7b5b5;
}

.scroll p {
    color: white;
    font-size: 16px;
    margin-bottom: 13px;
    text-align: center;
}

.scroll img {
    display: block;
    margin: 0 auto;
}

/*main*/
body main {
    display: grid;
    grid-template-columns: 65% 35%;
}

.video {
    position: relative;
}

#video-preview {
    width: 100%;
    cursor: pointer;
    opacity: 0.4;
}

#video-preview:hover {
    opacity: 0.8;
}

#video-preview:hover+#play-button {
    display: block;
}

#play-button {
    display: none;
    position: absolute;
    top: 200px;
    right: 130px;
    cursor: pointer;
}

.ul-list {
    margin-left: 126px;
    margin-top: 132px;
    margin-right: 116px;
    margin-bottom: 123px;
}

.ul-list p {
    margin-top: 0;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 42px;
    color: #575656;
}

.ul-list ul {
    font-size: 22px;
    color: #575656;
    list-style-image: url(/img/arrow.png);
}

li:last-of-type {
    list-style-image: url(/img/heart.png);
    margin-top: 60px;
}

.btn-register {
    text-transform: uppercase;
}

.ul-list button {
    margin-top: 60px;
}

/*footer*/
body footer {
    background-color: #273d50;
    height: 205px;
}

footer p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 55px;
    color: #fefdfd;
    height: 205px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
