/*header*/
#background {
    position: relative;
    width: 100%;
}
.header-content {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: auto;
}
.slogan:first-child {
    color: white;
}
.slogan h1 {
    font-size: 32px;
    color: #44a09b;
}
.slogan p {
    font-size: 62px;
}
.button {
    background-color: white;
    height: 210px;
    max-width: 830px;
    border-radius: 0 105px 105px 0;
}
.button p {
    color: #ff8141;
    font-size:28px;
}
button {
    height: 66px;
    width: 494px;
    border-radius: 33px;
    background-color: #F27935;
    color: white;
    font-size: 25px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
}
.scroll p {
    color: white;
    font-size: 16px;
}

/*main*/
#video-preview {
    position: relative;
    cursor: pointer;
}
#video-preview:hover {
    opacity: 0.4;
    
}
#play-button {
    position: absolute;
    left: 0;
}
.ul-list p {
    text-transform: uppercase;
    font-size: 42px;
    color: #575656;
}
.ul-list ul {
    font-size: 24px;
    color: #575656;
    list-style-image: url(img/arrow.png);
}



/*footer*/
body footer {
    background-color: #273d50;
    height: 205px;
}
footer p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 55px;
    color: #fefdfd;
    height: 205px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.slogan p span {
    font-weight: bold;
}
.btn-register {
    text-transform: uppercase;
}


